{% capture _ %}
  {% capture content %}{{ content | replace: 'Email:', '<i class="fa fa-envelope fa-2x"></i>' }}{% endcapture %}
  {% capture content %}{{ content | replace: 'Github:', '<i class="fa fa-github fa-2x"></i>' }}{% endcapture %}
  {% capture content %}{{ content | replace: 'Blog:', '<i class="fa fa-pencil fa-2x"></i>' }}{% endcapture %}
  {% capture content %}{{ content | replace: 'Resume (html):', '<i class="fa fa-html5 fa-2x"></i>' }}{% endcapture %}
  {% capture content %}{{ content | replace: 'Resume (markdown):', '<i class="fa fa-file-text-o fa-2x"></i>' }}{% endcapture %}
{% endcapture %}
