<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <style>
    body {
      padding: 20px;
    }
    h1 {
      margin-bottom: 30px;
    }
    h2 {
      margin-top: 30px;
    }
    i.fa-2x {
      width: 28px;
    }
    li h4 {
      margin-bottom: 0px;
    }
    @media print {
      body {
        margin-top:    0cm;
        margin-left:   1cm;
        margin-right:  1cm;
      }
    }
  </style>
</head>
  <body>
    <div class="container">
      <div class="row">
        {% include content.html %}{{ content }}
      </div>
    </div>
  </body>
</html>
